<!-- The content below is only a placeholder and can be replaced. -->
<div class="container">
  <div>
    <h5>
      ClA {{title}}
    </h5>
  </div>
  <div class="row">
    <div class="col-md-4" style="background-color:rgba(142, 174, 198, 0.37);">
      <!-- <div class="list-group" style="padding-top: 4px;padding-bottom: 4px;">
        <button type="button" class="list-group-item list-group-item-action">Transaction</button>
        <button type="button" class="list-group-item list-group-item-action">Bank</button>
        <button type="button" class="list-group-item list-group-item-action">Customer</button>
      </div> -->
      <form class="form">
        <div class="form-group">
          <div class="row">
            <div style="background-color:rgba(147, 60, 131, 0.37);padding-right: 5px">
              <label for="sel1">User ID: </label>
            </div>
            <div class="col-md-6" style="background-color:rgba(198, 142, 147, 0.37);padding-left: 0px;padding-right: 0px;">
              <select class="form-control " id="sel1">
                  <option>U1001</option>
                  <option>U2001</option>
                  <option>U3001</option>
                  <option>U4001</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div style="background-color:rgba(147, 60, 131, 0.37);">
              <label for="sel1">Trans ID: </label>
            </div>
            <div class="col-md-6" style="background-color:rgba(198, 142, 147, 0.37);padding-left: 0px;padding-right: 0px">
              <select class="form-control form-control-sm" id="sel1">
                    <option>Withdraw</option>
                    <option>Deposit</option>
                    <option>T03</option>
                    <option>T04</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div style="background-color:rgba(147, 60, 131, 0.37);padding-right: 3px">
              <label for="sel1">Bank ID: </label>
            </div>
            <div class="col-md-6" style="background-color:rgba(198, 142, 147, 0.37);padding-left: 0px;padding-right: 0px;">
              <select class="form-control form-control-sm" id="sel1">
                      <option>Republic Bank</option>
                      <option>Scotia Bank</option>
                      <option>First Citizens</option>
                </select>
            </div>
          </div>
          <div class="row">
            <div style="background-color:rgba(147, 60, 131, 0.37);padding-right: 2px">
              <label for="sel1">Amount: </label>
            </div>
            <div class="col-md-6" style="background-color:rgba(198, 142, 147, 0.37);padding-left: 0px;padding-right: 0px;">
              <select class="form-control form-control-sm" id="sel1">
                      <option>5</option>
                      <option>10</option>
                      <option>20</option>
                      <option>100</option>
                      <option>500</option>
                      <option>1000</option>
                      <option>2000</option>
                      <option>4000</option>
                </select>
            </div>
          </div>
        </div>
        
      </form>
      <button (click)="onClickMe()" type="button" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-md-8" style="background-color:rgba(220, 226, 231, 0.51);">
      
       <app-customer-details></app-customer-details>
     
    </div>
  </div>
  
</div>